__pycache__/
*.py[cod]
*.pth
*.pt
*.rar
*.png
checkpoints*/
checkpoints_*/
*_checkpoints/
pretrained_models/
FullFrame_test/
Processed_Data_Mel_HiFiGAN/
Processed_Data_Mel_HiFiGAN_FullFrame/
Dataset_Output
Document
Paper reference
Processed_Data
Processed_Data-1
Report
Speech Reconstruction
vtv24_videos
downloaded_vtv24.txt
meta.txt
video tin tức - tái tạo âm - text.txt
